<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button mat-button routerLink="/"><mat-icon>home</mat-icon></button> <button mat-button><mat-icon>arrow_right</mat-icon>Users</button>
        </div>
    </div>
</div>
<div class="container-fluid mt-2"> 
    <div style="width: 100%;padding:40px" class="text-start shadow">
        <h1 style="font-weight: 500;font-family: 'Josefin Sans'">Users</h1>
        <p style="font-weight: 300;font-family: 'Josefin Sans'">Welcome to Admin Panel developed in Angular</p>
    </div>
</div>