<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button mat-button routerLink="/"><mat-icon>home</mat-icon></button> <button mat-button><mat-icon>arrow_right</mat-icon>Users</button>
        </div>
    </div>
</div>
<div class="container-fluid mt-2"> 
    <div style="width: 100%;padding:40px" class="text-start shadow">
        <h1 style="font-weight: 500;font-family: 'Josefin Sans'">Users</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data">
                    <td>{{ d.id }}</td>
                    <td>{{ d.name }}</td>
                    <td>{{ d.email }}</td>
                    <td>{{ d.cdate }}</td>
                    <td><button mat-button (click)="deleteUser(d.id)"><mat-icon>delete</mat-icon></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>