<!---
<div class="flex-container"> 
    <div style="width: 100%;padding:40px" class="text-center">
        <h1 style="font-weight: 500;font-family: 'Josefin Sans'">Welcome Admin</h1>
    </div>
</div>
-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button mat-button routerLink="/"><mat-icon>home</mat-icon></button> <button mat-button><mat-icon>arrow_right</mat-icon>Home</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div style="width: 100%;padding:40px" class="text-center">
                <h1 style="font-weight: 500;font-family: 'Josefin Sans'">Welcome Admin</h1>
            </div>
        </div>
    </div>
</div>
